# ── Database ──
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/gameplatform
DATABASE_URL_SYNC=postgresql://postgres:postgres@localhost:5432/gameplatform

# ── Redis ──
REDIS_URL=redis://localhost:6379/0

# ── Auth ──
SECRET_KEY=53e732cef3733dbec57df6cb97277e6bb2cbbfc0eb21e8677fcab5786d452970
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ── App ──
DEBUG=true
CORS_ORIGINS=http://localhost:5173
